# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# Virtual Env
tact_api_env/

# Flake8 config
setup.cfg

# Sphinx documentation
docs/build/

# Unit test / coverage reports
htmlcov/
.coverage

# Code snippets for later
snippets.py
